doctype
html(lang="ja")
  head
    include _include/meta
    title Title
    link(rel='stylesheet', href="../css/style.css")
    script(src="../js/app.js", type="text/javascript")
  body
    header.header
      p header
    main.main
      section.section
        h1.title Page Title
        .image
          img(src="../assets/img/image.png")
    footer.footer
      p.copyright(lang='en') © 2019 Copyright
